<launch>

    <arg name="record_bag" default="false"/>
    <arg name="bag_name" default="20191106_003_for_plots"/>
    <arg name="play_bag" value="true"/>
    <arg name="run_estimator" value="true"/>
    <arg name="run_truth" value="true"/>
    <arg name="display_expected_measurements" default="false"/>
    <arg name="run_aruco_corners" default="false"/>
    <arg name="point_grey_camera_used" default="false"/>
    <arg name="lever_arm_name" default="tf_imu"/>
    <arg name="board_name" default="tf_board"/>

    <group if="$(arg play_bag)">
    <arg name="bag_path" default="/home/moa-nalo/bags_imu_camera_calibration/cam_imu_102620_001_bag_filtered.bag"/>
    <node pkg="rosbag" type="play" name="player" output="screen" args="--clock --pause  $(arg bag_path)"/>
    </group>

    <arg name="result_display" default="true"/>
    <arg name="result_autosize" default="true"/>
    <arg name="result_draw_markers" default="true" />
    <arg name="result_draw_axis" default="true" />
    <arg name="publish_corners" default="true" />
    <arg name="publish_tf" default="true" />
    <arg name="marker_length" default="0.144" />
    <arg name="square_length" default="0.202" />
    <arg name="x_square" default="6" />
    <arg name="y_square" default="4" />
    <arg name="num_marker" default="15" />
    <arg name="driver_flir" value="true"/>


    <node ns="/" pkg="charuco_ros" type="node" name="charuco_node" output="screen">
        <remap from="/camera_info" to="/camera/rgb/camera_info" if="$(arg driver_flir)"/>
        <remap from="/image" to="/camera/image_raw" if="$(arg driver_flir)"/>
        <param name="draw_markers" type="bool" value="$(arg result_draw_markers)" />
        <param name="draw_axis" type="bool" value="$(arg result_draw_axis)" />
        <param name="publish_tf" value="$(arg publish_tf)" />
        <param name="publish_corners" value="$(arg publish_corners)" />
        <param name="marker_length" value="$(arg marker_length)" />
        <param name="square_length" value="$(arg square_length)" />
        <param name="x_square" value="$(arg x_square)" />
        <param name="y_square" value="$(arg y_square)" />
        <param name="num_marker" value="$(arg num_marker)" />
    </node>

    <node if="$(arg result_display)" ns="/" pkg="image_view" type="image_view" name="charuco_image_view" output="screen">
        <remap from="image" to="/charuco_node/result" />
        <param name="autosize" type="bool" value="$(arg result_autosize)" />
    </node>

    <node pkg="calib_truth" type="node" name="calib_truth" output="screen">
        <remap from="board_pose" to="$(arg board_name)/ned/pose_stamped"/>
        <remap from="imu_pose" to="$(arg lever_arm_name)/ned/pose_stamped"/>
    </node>

    <rosparam file="$(find camera_imu_calib)/params/estimator_param.yaml"/>
    <node if="$(arg run_estimator)" name="camera_imu_calibration" pkg="camera_imu_calib" type="camera_imu_calib_node" output="screen">
        <param name="enable_dynamic_update" type="bool" value="false" />
        <param name="use_mocap_to_initialize" type="bool" value="false" />
        <param name="mahalanobis_param" type="double" value="4000" />
        <param name="number_of_features" type="double" value="15" />
        <param name="publish_full_quaternion" type="bool" value="true" />
        <remap from="/imu/data" to="/imu/imu"></remap>
        <remap from="/charuco_ros/corner" to="/charuco_node/corner"/>
        <!--         <remap from="camera/rgb/camera_info" to="/camera/camera_info" if="$(arg point_grey_camera_used)"></remap> -->
    </node>

    <group if="$(arg display_expected_measurements)">
        <node name="residual" pkg="camera_imu_calib" type="show_res" output="screen">
            <remap from="camera/rgb/image_raw" to="camera/image_raw" if="$(arg point_grey_camera_used)"/>
        </node>
        <node ns="/" pkg="image_view" type="image_view" name="image_view" output="screen">
            <remap from="image" to="residual_image" />
            <param name="autosize" type="bool" value="true" />
        </node>
    </group>

   <!--    <node if="$(arg record_bag)" name="record" pkg="rosbag" type="record" args="-O $(arg bag_name) ar_single_board/corner ar_single_board/pose ar_single_board/result  imu/data tf_imu/ned/pose_stamped tf_calib/ned/pose_stamped /calib_truth /imu_calib_result"/>-->
    <node if="$(arg record_bag)" name="record" pkg="rosbag" type="record" args="-O $(arg bag_name)  tf_imu/ned/pose_stamped tf_calib/ned/pose_stamped /calib_truth /imu_calib_result expected_measurements ar_single_board/corner"/>

</launch>